node_modules
public/bower_components
public/images_raw
public/landing_old
public/landing2
public/bower_components
public/landing/bower_components
public/slide/bower_components
public/chat/bower_components
public/build
public/slide2
[0-9.]*/components
[0-9.]*/samples/components
polymer-all
_site
.DS_Store
*.pyc
.sass-cache
*.vulcanized.html
*.vulcanized.js
*.sublime-*
_data/versions
.bundle
summit/dist
deploy.bat
serve.bat
credentials.tar.gz
client-secret.json