* {
  --app-primary-color: #4285f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* user-select: none; */
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  font-family: 'Google Sans', 'Noto', sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  /* max-width: 1440px; */
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.mdc-theme--dark {
  background-color: #333;
  color: #fff;
}

.mdc-dialog__body--scrollable {
  max-height: 65vh !important;
}

@media screen and (max-width: 860px) {
  .mdc-dialog__surface {
    width: 100% !important;
    height: 100%;
  }
  .mdc-dialog__body--scrollable {
    max-height: initial !important;
  }
}

/* copy from polymer */

.hero {
  max-width: 700px;
  margin: 64px auto 48px auto;
  padding: 16px;
  box-sizing: border-box;
}

.hero_title {
  font-size: 96px;
  line-height: 96px;
  color: var(--app-primary-color);
  font-weight: 400;
  margin-bottom: 36px;
}

.hero_description p {
  font-size: 28px;
  line-height: 36px;
  max-width: 720px;
}

.cover {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: center;
  display: block;
}

.cover_label {
  color: #ffffffbd;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  height: 40px;
  font-size: 14px;
  background: linear-gradient(#0000008f, transparent);
  text-align: right;
}

/* List */

.item_container {
  margin-top: 36px;
}

.item_container .item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e9e9e9;
  max-width: 1200px;
  margin: 0 auto;
}

.item_container .item:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}

.item_container .item:first-of-type {
  border-top: 1px solid #e9e9e9;
}

.item_container .item .date {
  min-width: 120px;
  text-align: center;
  color: #1c52ab;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  flex-direction: column;
}

.item_container.item .date .month {
  font-size: 22px;
}

.item_container .item .content {
  padding: 24px 22px;
  width: 100%;
}

.item_container .item_header {
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  transition: 70ms color ease-in-out;
  margin-bottom: 8px;
}

.item_container .item_info {
  font-size: 15px;
  color: #5d5d5d;
  display: flex;
  align-items: center;
}

.item_container .item_description {
  color: #000;
  font-size: 14px;
  margin-right: 16px;
}

.item_container .item_info {
  display: flex;
  flex-wrap: wrap;
}

.item_tag {
  border-radius: 18px;
  height: 30px;
  font-size: 13px;
  line-height: 13px;
  padding: 4px 12px 4px 0;
  box-sizing: border-box;
  color: #2b2b2b;
  display: flex;
  align-items: center;
}

.item_circle {
  border-radius: 50%;
  background: var(--app-primary-color);
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

/* Card */

.card_container {
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 20px;
  justify-items: center;
  justify-content: center;
  padding: 0 16px;
  display: grid;
  max-width: 1200px;
  margin: 0 auto 36px auto;
}

.card {
  border: 1px solid #ededed;
  margin: 12px;
  width: 100%;
  cursor: pointer;
  transition: 250ms box-shadow ease-in-out;
  text-decoration: none;
  color: #000;
  border-radius: 8px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 0 2px rgba(38, 50, 56, .2), 0 8px 24px 0 rgba(0, 0, 0, .2)
}

.card .card_header {
  height: 220px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
}

.card .card_content {
  padding: 16px;
  box-sizing: border-box;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.card .card_content .title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 12px;
}

.card .card_content .description {
  line-height: 26px;
  color: #313131;
}

.card .card_content .date {
  flex: 1;
  text-transform: uppercase;
  color: #696969;
  font-weight: 500;
  font-size: 14px;
}

.card .card_footer {
  padding: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 15px;
  color: #1565C0;
}

.card .card_footer iron-icon {
  width: 22px;
  height: 22px;
}

#android {
  background-color: #77c158;
}

#android_things {
  background-color: #307912;
}

#firebase {
  background-color: #facc49;
}

#iot {
  background-color: rgb(250, 191, 169);
}

#other {
  background-color: rgb(153, 153, 153);
}

#polymer {
  background-color: #f07b99;
}

#python {
  background-color: #3b76aa;
}

#preact {
  background-color: #663ab8;
}

#pwa {
  background-color: #61a6ff;
}

#web {
  background-color: rgb(250, 191, 169);
}

#story {
  background-color: rgb(253, 145, 39);
}

#talk {
  background-color: rgb(255, 108, 0);
}

#award {
  background-color: rgb(255, 158, 128);
}

#project {
  background-color: rgb(252, 210, 48);
}

#hackathon {
  background-color: rgb(39, 229, 253);
}

#arg {
  background-color: rgb(148, 221, 107);
}

#virtualHackathon {
  background-color: rgb(87, 77, 221);
}

@media screen and (max-width: 860px) {
  .hero {
    margin: 48px auto 36px auto;
  }
  .hero_title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 28px;
    word-break: break-word;
  }
  .hero_description p {
    font-size: 20px;
    line-height: 26px;
  }
  .cover {
    height: 300px;
  }
  .cover_label span {
    font-size: 12px;
    width: 80%;
  }
  /* List */
  .item_container {
    margin-top: 16px;
  }
  .item_container .item {
    /* padding: 20px 16px; */
  }
  .item_container .item .content {
    padding: 14px 16px;
  }
  .item_container .item_header {
    font-size: 18px;
    line-height: 26px;
  }
  .item_container .item_info {
    font-size: 13px;
    margin-bottom: 0;
  }
  .item_container .item_description {
    font-size: 13px;
    width: 100%;
    margin-bottom: 4px;
  }
  .item_container .item .date {
    padding: 16px 0;
    min-width: 64px;
    font-size: 15px;
    justify-content: flex-start;
    border-right: 1px solid #e9e9e9;
  }
  .item .date .month {
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  /* Card */
  .card_container {
    grid-template-columns: none;
    padding: 8px;
  }
  .card {
    margin: 4px 0;
    /* border-radius: 0; */
    /* border: none; */
    width: 100%;
  }
  .card:hover {
    box-shadow: none;
  }
  .card .card_header {
    height: 200px;
  }
  .card .card_content {
    padding-bottom: 24px;
    min-height: 150px;
  }
  .card .card_content .title {
    font-size: 20px;
    line-height: 26px;
  }
  .card .card_content .description {
    font-size: 15px;
    line-height: 24px;
  }
  .card .card_content .date {
    font-size: 13px;
  }
  .card .card_footer {
    font-size: 14px;
  }
  .card:last-of-type {
    border-bottom: 1px solid #ededed;
  }
}