#talks {
  margin-bottom: 96px;
}

.hero {
  max-width: 1162px;
}

.cover {
  margin-bottom: 36px;
}

@media screen and (max-width: 860px) {
  #talks {
    margin-bottom: 74px;
  }
  /* .item .date {
    padding: 16px 0;
    min-width: 64px;
    font-size: 15px;
    justify-content: flex-start;
  }
  .item .date .month {
    font-size: 18px;
  }
  .item .content {
    padding: 14px 16px;
  }
  .item .item_header {
    font-size: 18px;
  }
  .item .item_description {
    width: 100%;
    margin-bottom: 4px;
  }
  .item .item_info {
    margin-bottom: 0;
  } */
}