#storiesPost {
	margin-bottom: 74px;
}

.story_cover {
    height: 300px;
    background-size: cover;
    background-position: center;
    max-width: 860px;
    margin: 0 auto;
}

.story_container {
    margin: 64px auto 48px auto;
}

.story_title {
    max-width: 640px;
    font-weight: 400;
    font-size: 52px;
    line-height: 50px;
    margin-bottom: 36px;
    margin: 0 auto;
}

.story_author {
    font-weight: 500;
    max-width: 640px;
    margin: 36px auto 6px auto;
    font-size: 16px;
}

.story_date {
    font-weight: 500;
    max-width: 640px;
    margin: 6px auto 48px auto;
    color: #757575;
    font-size: 14px;
}

.story_content p {
    max-width: 640px;
    color: #5f6368;
    font-size: 18px;
    line-height: 32px;
    margin: 24px auto;
    font-weight: 400;
}

.story_content h1 {
    font-weight: 500;
    max-width: 640px;
    margin: 48px auto 0 auto;
}

.story_content h2 {
    font-weight: 500;
    max-width: 640px;
    margin: 48px auto 0 auto;
}

.story_content img {
    width: 140%;
    margin: 0 auto;
    margin-left: -20%;
}

.story_content em {
    font-size: 15px;
    width: 100%;
    display: block;
    margin-bottom: 36px;
}

.story_content a {
    color: #206dd6;
}

.story_content iframe {
    width: 100%;
}

.story_origin {
    max-width: 640px;
    margin: 64px auto 48px auto;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.story_origin a {
    text-decoration: none;
    text-transform: uppercase;
    color: #1a73e8;
    margin-left: 6px;
}

.box {
    width: 12px;
    height: 12px;
    background: #5696ed;
    margin-right: 8px;
}

@media screen and (max-width: 860px) {
    .story_title {
        font-size: 44px;
        line-height: 46px;
    }
    .story_author {
        margin: 24px auto 6px auto;
    }
    .story_container {
        padding: 0 16px;
    }
    .story_content p {
        font-size: 16px;
    }
    .story_content img {
        width: calc(100% + 32px);
        margin-left: -16px;
    }
}