
.footer {
	margin-top: 128px;
	font-family: 'Roboto', 'Noto', sans-serif;
	background: #FAFAFA;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 80px;
	color: rgba(0, 0, 0, 0.65);
	font-size: 13px;
}

.footer a {
	text-decoration: none;
}

.footer svg {
	margin: 8px 16px 8px 0;
	width: 26px;
	height: 26px;
	fill: rgba(0, 0, 0, 0.65);
	-webkit-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.footer svg:hover {
	fill: rgba(0, 0, 0, 0.95);
}

@media screen and (max-width: 860px) {
	.footer {
		display: none;
		/* flex-direction: column-reverse; */
		/* align-items: flex-start; */
		/* padding: 48px 16px; */
	}
	/* .footer .footer_social { */
		/* margin-bottom: 16px; */
	/* } */
}
